@charset 'UTF-8';

// ===============================================================
/* @IMPORTS */
// ===============================================================
@import 'helpers/fonts';
@import 'helpers/config';
@import 'helpers/icons';
@import 'helpers/mixins';
@import 'helpers/slick';

@import 'partials/pre-header';
@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';
@import 'partials/copyright';

// ===============================================================
/* GERAL */
// ===============================================================
.wrapper {
	height: 100%;
	margin: 0 auto;
	max-width: 960px;

	@include breakpoint(768px, 'max') {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}
